body {
	background-color: #B8F0E2;
	font-size: 14px;
}


.main-content{
	position: absolute;
	pandding 40px;
	left: 50%;
	transform: translate(-50%,10%);
}

.box{
	padding: 10px;
	background-color: #E4F3EF;
	color=black;
	text-indent:2em;
}
.name{
	text-align: right;
	padding-right: 4em;
}
